!!!
%html
  %head
    = haml :head
    #{script.call_rdy()}
    #{script.clear_calls()}

  %body
    = haml :menu
    = haml :account_modal

    %div{:class => "container-fluid mt-3"}
      = haml :"#{session['index_content']}"


    %footer{:class => "fixed-bottom bg-danger text-center"}
      %a{:class => "text-light", :target => "_blank",
        :href => "https://github.com/Shadowsith/mumble-ruby-pluginbot"} 
        Fork me on Github! | MIT License | 2019
